/** Landing Page **/

.landingPage {
    background: linear-gradient(180deg, #FFF 0%, #F1EAF9 100%);
    overflow: hidden;
    height: 100vh;
    width: 100%;
    margin-top: 1.5em;
    padding: 50px;
    display: table;
    overflow-x: hidden;
}

.landingPage .leftLandingPage{
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 20%;
}